* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.header {
    overflow: hidden;
    background-color: #363636;
    /* position: sticky; */
    /* top: 0px; */
}

.logo { 
    float: left;
}

.logo-image {
    width: 450px;
    height: auto;
    vertical-align: middle;
}

.hundred {
    width: 140px;
    height: auto;
    vertical-align: middle;
}

.nav {
    float: right;
    width: 700px;
}   

.nav > li {
    height: 120px;
    list-style: none;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 40px;
}


.nav a {
    display: flex;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

.nav a:active {
    background-color: rgb(172, 172, 231);
}

.nav a:hover {
    background-color: #762124;
    border-radius: 5px;
}

.home-img {
    overflow: hidden;
    height: calc(97vh - 120px);
    background-image: url(./asoe-home-dark.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home-title {
    width: 50%;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 2.3rem;
    font-weight: 400;
    line-height: 2.7rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 240px;
}

.home-subtitle {
    width: 40%;
    color: rgb(238, 234, 234);
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    font-weight: 300;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
}

.gap-bottom {
    margin-bottom: 25px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.main-title {
    font-family: 'Roboto Slab', serif;
    font-size: 1.9rem;
    font-weight: 700;
    text-align: justify;
    padding-top: 15px;
}

.info {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.7rem;
    color: #363636;
}

.footer {
    display: flex;
    height: 90px;
    background-color: #363636;
    justify-content: space-between;
    align-items: center;
    color: wheat;
    padding: 0 10px;
    margin-top: 35px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
}

.social > span {
    margin-right: 5px;
    vertical-align: middle;
}

.social-text {
    vertical-align: middle;
    color: blue;
    font-size: 2rem;
    margin-right: 2px;
}

.fa-square-twitter {
    margin-right: 30px;
}

.copyright {
    margin-left: 10px;
}